@use '../../styles/colors.scss' as *;
@use '../../styles/font.scss' as *;

.shelf {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    @include fraunces(400);

    h3 {
      margin: 0;
      color: $white;
      @include fraunces(400);
    }
}
  
.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
  
p {
    margin: 0;
    color: $light-gray;
}

.shelf-card-header {
    display: flex;
    justify-content: space-between;
}

.shelf-card-header-editing {
    display: flex;
    justify-content: space-between;
}

.shelf-card-button-wrapper {
    display: flex;
    gap: 10px;
    justify-content:end;
}