@use '../../../styles/colors.scss' as *;

.rating-wrapper {
    display: flex;
  
    .rating-icons, .modal-icons {
      display: flex;
      gap: 5px;
      margin: 10px 0px;
      margin-right: 10px;
  
      .shape {
        width: 20px;
        height: 20px;
        background-color: #F5F5F0;
        // border: 1px solid #8BE0DA;
        transition: background-color 0.2s ease;
  
        &.filled {
          background-color: yellow;
        }
      }
    }
  
    .rating-result {
      display: flex;
      align-items: center;
      gap: 5px;

      button {
    //     background: none;
    //     border: none;
        color: $pink;
    //     text-decoration: underline;
      }
    }
  
    .rating-modal {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        background-color: $darkest-gray;
        padding: 20px;
        border-radius: 8px;
        border: 2px solid $dark-gray;
    }
}
  