@use '../styles/colors.scss' as *;
@use '../styles/font.scss' as *;

.profile-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 400px;
    overflow-y: scroll;
    height: 100%;
    @include fraunces(400);

    .profile {
        display: flex;
        gap: 15px;
        border-radius: 3px;
        background-color: $darkest-gray;
        padding: 20px;
        border-radius: 5px;
        margin-top: 15px;

        div {
            h3, p {
            margin: 0;
            }

            p {
                color: $light-gray;
            }
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    .statistics {
        h2 {
            margin: 0;
        }

        .stats {
            display: flex;
            gap: 20px;

            div {
                display: flex;
                flex-direction: column;
                background-color: $darkest-gray;
                height: fit-content;
                flex-grow: 1;
                padding: 15px;
                padding-top: 0px;
                align-items: center;
                border-radius: 5px;
                color: $light-gray;
    
                span {
                    font-size: 80px;
                    color: $white;
                }
            }
        }
    }

    .shelves-section {
        .shelves-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                margin: 0;
            }
        }
    }

    .ratings {
        .ratings-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                margin: 0;
            }
        }
    }

    .reviews {
        .reviews-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                margin: 0;
            }
        }
    }
}


  
  .rating-title {
    font-weight: bold;
  }
  .book-rating {
    color: $light-gray;
  }
  

  
  .scroll-row {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
  }
  

  .profile-section {
    margin-bottom: 2rem;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .profile-info-header {
    display: flex;
    justify-content: space-between;
  }
  
  .shelf-card {
    padding: 15px;
    min-width: 150px;
    background: $darkest-gray;
    border-radius: 5px;

    h3 {
        margin: 0;
    }
  }
  
  .shelf-books {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .book-preview {
    display: flex;
  }
  
  .book-preview img {
    width: 30px;
    height: 45px;
    object-fit: cover;
    border-radius: 3px;
  } 

  .review-card, .rating-card {
    background-color: $darkest-gray;
    padding: 15px;
    border-radius: 5px;
    flex-shrink: 0;
  }

@media (max-width: 1000px) {
    .profile-page {
        padding: 0px 100px;
        
    }
}