.search-bar {
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
      max-width: 400px;
      border: none;
      color: white;
      background-color: rgb(34, 34, 34);
      padding: 10px;
    
      &:focus {
        border-color: #8BE0DA;
        outline: none;
      }
  
      &::placeholder {
          color: white;
      }
    } 
}

.filter-options {
    display: flex;
    gap: 5px;

    button {

    }
}
  