.small-book-card {
    min-width: 100px;
    max-width: 150px;
    border-radius: 3px;
    position: relative;
    
    img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 3px;
    }
}
  

.small-book-card-name {
    font-size: 0.8rem;
    margin: 0;
}

.delete-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}