@use '../../styles/colors.scss' as *;
@use '../../styles/font.scss' as *;

nav {
    background-color: $black;
    border-bottom: 1px solid #191A23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    @include fraunces(400);

    .navlink-wrapper {
        display: flex;
        gap: 40px;
    }

    a {
        margin: 0;
        padding: 10px;
        color: #F9EFF2;
    }
}

.nav-link {
    color: $light-gray;
    text-decoration: none;
}
  
.nav-link:hover {
    color: $white;
}
  
.nav-link.active {
    color: $white;
    border-bottom: 1px solid $white;
}
  
@media (max-width: 600px) {

}

.info-button {
    width: 50px;
    border-radius: 0px;
}

.profile-link {
    background-color: grey;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}