@use '../../styles/colors.scss' as *;

.filter-options {
    display: flex;
    flex-direction: column;
    // gap: 10px;

    p {
        color: $white;
    }
    
    .filter-button-wrapper {
        display: flex;
        gap: 5px;

        .filter-button {
            &.active {
                background-color: $primary;
            }
        }
    }
}