#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.temporary-bookcard-wrapper {
  display: flex;
  gap: 20px;
}

.temporary-search-wrapper {
  display: flex;
  gap: 5px;
}

.temporary-title {
  color: #F9EFF2;
  margin: 0;
}